name: Rust CI

on:
  push:
    paths:
      - '**.rs'
  pull_request:
    paths:
      - '**.rs'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Install Rust
      run: rustup update stable
    - name: Build
      run: cargo build --verbose
    - name: Test
      run: cargo test --verbose